# Build outputs
build-out/
dist-native/
*.AppImage

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Misc
.cache/
.electron-rebuild-hash
/aur-package/src/
/aur-package/pressplay-iris-v2-nearlink/
/aur-package/pkg/
/aur-package/*.pkg.tar.zst
